# Effectivness of lockdowns

**Goal**: check to see if there is a correlation between lockdowns and cumulative death count per million.

# Data

## Lockdown severity

* [CORONAVIRUS GOVERNMENT RESPONSE TRACKER](https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker#data)
* [Wikipedia](https://en.wikipedia.org/wiki/National_responses_to_the_COVID-19_pandemic#Lockdowns)

### CORONAVIRUS GOVERNMENT RESPONSE TRACKER

CX_Flag -- indicates scope:
* 0 -- targeted
* 1 -- general

## Deaths

* [COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University](https://github.com/CSSEGISandData/COVID-19)
* [England & Wales](https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/bulletins/deathsregisteredweeklyinenglandandwalesprovisional/weekending8january2021)

# Ideas

In order to measure the effectiveness of lockdowns we could look at:
* Cum Death distribution between number of days (C6 >=2, C7 >= 1 and C6_Flag = C7_Flag = 1) vs (C6 < 2, C7 = 0 and C6_Flag=C7_Flag=1). Box plot. Kullback-Leibler divergence.
* Correlation between StringencyIndex and Cum Death count
* Correlation between pct of days spent in a lockdown vs total deaths per million.

# Open questions
* What countries have RegionName != [nan]? And how should we deal with matching deaths with StringencyIndex of countries that have stats by region?
* How does GDP impact death count? Maybe some countries have health systems that can afford having all their severe cases in ICUs?
* How age of population impacts the stats? What if countries that have no lockdown and small death counts are simply just younger?
* Are there any gaps between records in the lockdown dataset (since we are going to compute number of days)?

In [55]:
import pandas as pd
import numpy as np

In [16]:
lockdowns = pd.read_csv('OxCGRT_latest.csv')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
lockdowns.head()

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# which countries have regions
lockdowns[lockdowns['RegionName'].notnull()].CountryName.unique()

array(['Brazil', 'Canada', 'United Kingdom', 'United States'],
      dtype=object)

In [19]:
covid = pd.read_csv('owid-covid-data.csv')
covid.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

Can join the `owid-covid-data.csv` with `OxCGRT_latest.csv` data on `iso_code` and `CountryCode` respectively but `owid-covid-data.csv` does not have data split by regions, so for countries:
* Brazil
* Canada
* United Kingdom
* United States

would need additional data or just need to find a better dataset. So far this will be enough since I can only start with Europe (excluding UK) and also check Asia (excluding China, Iran and maybe some others with dodgy stats), Africa.

In [20]:
lockdowns[lockdowns.CountryName == 'United Kingdom'].RegionName.unique()

array([nan, 'England', 'Northern Ireland', 'Scotland', 'Wales'],
      dtype=object)

In [22]:
lockdowns[lockdowns.StringencyIndex == 100].CountryName.unique()

array(['Argentina', 'Cuba', 'Dominican Republic', 'Georgia', 'Honduras',
       'India', 'Jordan', 'Kuwait', 'Libya', 'Sri Lanka', 'Oman',
       'Philippines', 'El Salvador', 'Serbia', 'Suriname'], dtype=object)

In [28]:
europe = covid[(covid.continent == 'Europe') & (covid.location != 'United Kingdom')]
europe = europe[['iso_code','date','total_deaths_per_million']]
europe.head(n=100)

    iso_code        date  total_deaths_per_million
331      ALB  2020-03-09                       NaN
332      ALB  2020-03-10                       NaN
333      ALB  2020-03-11                     0.347
334      ALB  2020-03-12                     0.347
335      ALB  2020-03-13                     0.347
..       ...         ...                       ...
426      ALB  2020-06-12                    12.510
427      ALB  2020-06-13                    12.510
428      ALB  2020-06-14                    12.510
429      ALB  2020-06-15                    12.510
430      ALB  2020-06-16                    12.857

[100 rows x 3 columns]

In [29]:
europe.groupby('iso_code')['total_deaths_per_million'].max().reset_index()

    iso_code  total_deaths_per_million
0        ALB                   447.217
1        AND                  1190.707
2        AUT                   799.320
3        BEL                  1773.484
4        BGR                  1239.702
5        BIH                  1374.354
6        BLR                   169.430
7        CHE                  1023.615
8        CYP                   200.936
9        CZE                  1367.637
10       DEU                   584.802
11       DNK                   317.323
12       ESP                  1158.662
13       EST                   259.321
14       FIN                   112.079
15       FRA                  1095.115
16       GRC                   529.403
17       HRV                  1140.973
18       HUN                  1192.503
19       IRL                   548.423
20       ISL                    84.982
21       ITA                  1375.364
22       LIE                  1311.063
23       LTU                   916.140
24       LUX                   894.603
25       LVA                   536.528
26       MCO                   229.334
27       MDA                   813.592
28       MKD                  1308.451
29       MLT                   548.083
30       MNE                  1192.557
31       NLD                   774.094
32       NOR                    96.841
33  OWID_KOS                   730.039
34       POL                   890.384
35       PRT                   906.763
36       ROU                   902.863
37       RUS                   449.736
38       SMR                  1915.257
39       SRB                   557.123
40       SVK                   666.161
41       SVN                  1554.163
42       SWE                  1048.690
43       UKR                   503.890
44       VAT                       NaN

In [31]:
lockdowns[lockdowns.CountryCode == 'LTU']

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
55584,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
55585,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
55586,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
55587,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
55588,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55965,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20210116,3.0,1.0,3.0,1.0,...,74.07,74.07,73.81,73.81,68.22,68.22,69.1,69.1,62.5,62.5
55966,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20210117,3.0,1.0,3.0,1.0,...,74.07,74.07,73.81,73.81,68.22,68.22,69.1,69.1,62.5,62.5
55967,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20210118,NaN,NaN,NaN,NaN,...,NaN,74.07,NaN,73.81,NaN,68.22,NaN,69.1,NaN,62.5
55968,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20210119,NaN,NaN,NaN,NaN,...,NaN,74.07,NaN,73.81,NaN,68.22,NaN,69.1,NaN,62.5
55969,Lithuania,LTU,NaN,NaN,NAT_TOTAL,20210120,NaN,NaN,NaN,NaN,...,NaN,74.07,NaN,73.81,NaN,68.22,NaN,69.1,NaN,62.5

* Drop NA rows from lockdown dataset
* Join lockdown with covid dataset on CountryCode, Date
* iso_code, n_days in "strict lockdown" -> df1
* iso_code, total_deaths per 1M -> df2
* df1.n_days ~ df2.total_deaths
* profit

or

Assuming that there are no day gaps in lockdown data.

* df1 -> iso_code, date, total_deaths_per_million
* df2 -> iso_code, date, +flags
* df3 = df1.join(df2 on (iso_code, date))
* total_deaths = df3.group_by(iso_code).max(total_deaths_per_million)
* df3.strict_lockdown = df3.c7 = 1, global = 1 ...

In [39]:
lockdowns.Date = pd.to_datetime(lockdowns.Date, format='%Y%m%d')

In [74]:
countries = lockdowns.CountryName.unique()
for country in countries:
    dt = lockdowns[lockdowns.CountryName == country].Date
    days = (dt.values[1:] - dt.values[:-1]).astype('timedelta64[D]')
    if np.any(days != np.timedelta64(1, 'D')):
        print(country)

Brazil
Canada
United Kingdom
United States

In [76]:
dt = lockdowns[lockdowns.CountryName == 'Brazil'].Date
# days = (dt.values[1:] - dt.values[:-1]).astype('timedelta64[D]')
# days[days != np.timedelta64(1, 'D')]

In [86]:
ts = (dt.astype(int)/ 10**9).values
dts = ts[1:] - ts[:-1]

dts[dts != 86400]

array([-33264000., -33264000., -33264000., -33264000., -33264000.,
       -33264000., -33264000., -33264000., -33264000., -33264000.,
       -33264000., -33264000., -33264000., -33264000., -33264000.,
       -33264000., -33264000., -33264000., -33264000., -33264000.,
       -33264000., -33264000., -33264000., -33264000., -33264000.,
       -33264000., -33264000.])